button {
  padding: 8px;
  background-color: #ffffff00;
  color: #000000;
  border: 0px;
  font-family: 'Courier New', Courier, monospace;
}
button:hover {
  background-color: #deb887;
}
a {
  color: #000000;
  text-decoration: none;
}
body {
  background-color: #faebd7;
  font-family: 'Courier New', Courier, monospace;
}
img {
  vertical-align: middle;
}
.header {
  display: inline;
}